#root {
  background-image: url("/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 650px;
}

.weather-img {
  width: 150px;
  height: 150px;
}

.default {
  height: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("/public/update.webp");
  background-size: cover;
  font-size: 3rem;
  font-weight: bolder;
}
.empty {
  display: none;
}

.weather-detail {
  gap: 10px;
}
