@font-face {
  font-family: "rubik";
  src: url("/Rubik_Glitch/RubikGlitch-Regular.ttf");
}
@font-face {
  font-family: "pacifico";
  src: url("/Pacifico/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "gurajada";
  src: url("/Gurajada/Gurajada-Regular.ttf");
}
@font-face {
  font-family: "rubik-shadow";
  src: url("/Rubik_Doodle_Shadow/RubikDoodleShadow-Regular.ttf");
}
@font-face {
  font-family: "big";
  src: url("/Bigshot_One/BigshotOne-Regular.ttf");
}

#root {
  background-image: url("/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 650px;
}
.head {
  font-family: "rubik-shadow";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.weather-img {
  width: 150px;
  height: 150px;
}

.default {
  font-family: "rubik";
  height: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("/update.webp");
  background-size: cover;
  font-size: 2.5rem;
}
.empty {
  display: none;
}

.weather-detail {
  font-family: "pacifico";
  font-size: 1.2rem;
  gap: 10px;
}

.location {
  font-family: "gurajada";
  font-size: 3rem;
}
.temp {
  font-family: "rubik-shadow";
  font-size: 3rem;
}
.celcius {
  font-family: initial;
  font-size: 3rem;
}
.info {
  color: rgb(114 65 149);
  letter-spacing: 2px;
}
.details {
  font-family: "big";
  font-size: 2rem;
  color: blue;
}

@media (max-width: 450px) {
  * {
    font-size: 14px;
  }
}
